@import './_variables'
@import './_extensional'

.container--cars
    @media  (min-width: 40px) and (max-width: 500px)
        height: auto
        width: 90%
        margin-bottom: 40px
    @media  (min-width: 501px) and (max-width: 905px)
        margin-top: 40px
        height: auto
        width: 90%
        margin-bottom: 40px

.cars--wrapper
    @include container(100%, auto, start, column)
    p:nth-child(1)
        font-family: $fontText
        margin-bottom: 10px
    h2
        font-family: $fontText
        color: $blackText
        margin-bottom: 15px
        font-weight: 900
        font-size: 20px

    p:nth-child(3)
        text-align: center
        color: $greyColor
        font-size: 15px
        margin-bottom: 40px

    .cars--info--wrap
        @include container(100%, auto, center, row)

        @media  (min-width: 40px) and (max-width: 500px)
            flex-direction: column

        @media  (min-width: 501px) and (max-width: 905px)
            display: grid
            grid-template-columns: repeat(2, 1fr)
            grid-template-rows: repeat(2, 1fr)
            grid-column-gap: 0px
            grid-row-gap: 0px

        div:nth-child(1)
            @media  (min-width: 501px)
                width: 18%
                margin-right: 50px

            @media  (min-width: 40px) and (max-width: 905px)
                align-items: center
                margin: 0
                width: 63%
                font-size: 15px

            div
                width: 100%
                padding: 15px
                cursor: pointer
                font-family: $fontText
                border: none

                @media  (min-width: 40) and (max-width: 500px)
                    width: 100%
                    padding: 10px

                &:hover
                    background-color: $btmBrandColor
                    color: $whiteColor

        div:nth-child(2)
            width: 57%
            margin-right: 30px
            @media  (min-width: 40px) and (max-width: 500px)
                width: 100%

            @media  (min-width: 501px) and (max-width: 905px)
                width: 100%
            img
                width: 100%

        div:nth-child(3)
            width: 25%
            border: 1px solid red

            @media  (min-width: 501px) and (max-width: 905px)
                border: none
                width: 200%
            @media  (min-width: 40px) and (max-width: 500px)
                width: 100%
                // &:hover
                //     none

            div
                width: 100%

                @media  (min-width: 40) and (max-width: 500px)
                    align-items: center
                    border: none

                div
                    @include container(100%, auto, space-around, row)
                    align-items: start
                    cursor: auto

                .car-price
                    padding-top: 10px
                    background-color: $btmBrandColor
                    font-family: $fontText
                    color: $whiteColor
                    font-weight: 900
                    font-size: 20px
                    width: 195px
                    margin: 0
                    text-align: center

                    @media  (min-width: 40px) and (max-width: 905px)
                        font-weight: 500
                        font-size: 15px
                        width: 100%
                        padding: 10px 0

                    p
                        margin: 0

                .car-info-detals--container
                    width: 100%
                    display: flex
                    flex-direction: column
                    margin: 0
                    padding: 0

                    @media  (min-width: 40px) and (max-width: 389px)
                        align-items: center
                        width: 100%

                    .car-info--detals
                        background-color: $whiteColor
                        font-family: $fontText
                        color: $blackText
                        font-weight: 300
                        font-size: 13px
                        width: 195px
                        border-bottom: 1px solid $btmBrandColor

                        @media  (min-width: 40px) and (max-width: 905px)
                            font-size: 10px
                            width: 100%
                            padding: 10px 0

                    p:nth-child(1)
                        margin: 0
                        text-align: center
                        width: 50%

                        @media  (min-width: 40px) and (max-width: 500px)
                            font-size: 10px
                            // width: auto

                    p:nth-child(3)
                        margin: 0
                        text-align: center
                        color: $blackText
                        width: 50%

                        @media  (min-width: 40px) and (max-width: 500px)
                            font-size: 10px
                            // width: auto

                // .car--submit--btm
                //     border: none
                //     width: 100%
                //     size: 20px
                //     padding: 10px 40px
                //     font-family: $fontText
                //     color: $whiteColor
                //     cursor: pointer
                //     background-color: $btmBrandColor
                //     text-decoration: none

        .selected
            background-color: $btmBrandColor
            color: $whiteColor
